{% extends "base.html" %}

{% block content %}
<!-- <p>Sign Up.</p>


<form action="signUp" method="POST">
    Name:<br>
    <input type="text" name="first_name"></li><br>
    D.O.B:<br>
    <input type="date"></li><br>
    Email: <br>
    <input type="email"></li><br>
    Password: <br>
    <input type="password"></li><br>
    Confirm password:<br>
    <input type="password"></li><br>
    <input type="submit">
</form>
-->

<h2>Sign up Form</h2>
<form method="post" action="signup">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
{% endblock %} 